:root
{
    --zindex-dialog: 200;
    --zindex-popups: 50; /* Below shades.*/
}

* a
{
    color: inherit;
}

html
{
    height: 100%;
}

body
{
    height: 100%;
    background-color: #c0c0c0;
    color: white;
    text-align: center;
    margin: 0;
    overflow-y: scroll;
    background-color: #dbdbdb;
    position: relative;
    z-index: 1;
    font-family: "Delius", sans-serif;
}

#lintulista header
{
    box-sizing: border-box;
    text-align: left;
    background-color: #77716c;
    background-size: 20px 20px;
    min-height: 50vh;
    height: 50vh;
    transition: min-height 0.4s ease-in-out;
}

#lintulista.app-running header
{
    box-sizing: content-box;
    height: 0;
    min-height: 180px;
}

#lintulista footer
{
    display: none;
    font-family: sans-serif;
    color: gray;
    padding-top: 0;
    padding-bottom: 35px;
    font-size: 90%;
}

#lintulista.app-running footer,
#lintulista.app-running #app-title
{
    display: inline;
}

#lintulista
{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#app-container .startup-loading-spinner
{
    animation: reveal-flip 1.2s linear;
    font-family: sans-serif;
    padding: 15px 30px;
    background-color: white;
    color: black;
    border-radius: 0px;
    border: 1px solid black;
    position: relative;
    top: calc(-50% - 6px); /* Minus half of the header's wave border.*/
}

#lintulista #app-container
{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lintulista.app-running #app-container
{
    flex-grow: 1;
    transform: none;
    display: initial;
}

#lintulista #app-title
{
    display: none;
    text-transform: lowercase;
    position: relative;
    top: 34px;
    left: 13%;
    z-index: 0;
    font-family: "Beth Ellen";
    color: #e1e1e1;
    font-size: 275%;
}

#lintulista.app-running #app-title
{
    top: 13px;
}

#observations-list-container
{
    flex: 1;
}

.no-display
{
    display: none;
}

.app-menu
{
    position: absolute;
    z-index: 3;
    top: 70px;
    left: calc(14% + 355px); /* Next to the app title.*/
    display: flex;
    flex-direction: row;
}

.app-menu > .app-menu-item
{
    text-align: center;
    margin: 7px;
    margin-right: 5px;
    color: #f1f1f1;
    padding: 15px;
}

.app-menu > .app-menu-item a
{
    text-decoration: none;
}

.app-menu > .app-menu-item:hover
{
    color: white;
    border-bottom: 4px dotted #e9e9e9;
}

.AsyncIconButton.enabled
{
    cursor: pointer;
}

.AsyncIconButton.enabled:active
{
    border-bottom-width: 3px;
}

.AsyncIconButton.waiting
{
    cursor: auto;
}

.AsyncIconButton.disabled
{
    cursor: auto;
}

.Button,
.MenuButton,
.CheckBoxButton
{
    cursor: pointer;
}

.Button.disabled,
.MenuButton.disabled,
.CheckBoxButton.disabled
{
    cursor: auto;
}

.MenuButton > .dropdown > .items > *:first-child
{
    border-radius: 13px 13px 0 0;
}

.MenuButton > .dropdown > .items > *:last-child
{
    border-radius: 0 0 13px 13px;
}

.ObservationList > .ObservationListMenuBar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 405px;
    position: absolute;
    top: 65px;
    right: 13%;
    color: rgba(241, 241, 241, 0.45);
    opacity: 1;
    height: 45px;
    line-height: 45px;
    z-index: 41; /* Above observation list elements.*/
}

.ObservationList > .ObservationListMenuBar > .buttons
{
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    flex-basis: 152px;
    justify-content: flex-end;
}

.ObservationList > .ObservationListMenuBar.sticky
{
    position: fixed;
    top: 6px;
    right: 50px;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
}

.ObservationList > .ObservationListMenuBar > .buttons *
{
    flex-grow: 1;
    margin-left: 0px;
}

.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton.sticky-search
{
    transform: none;
    background-color: red;
    position: sticky;
    top: 0;
    right: 0;
}

.ObservationList > .ObservationListMenuBar > .buttons > .Button,
.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton,
.ObservationList > .ObservationListMenuBar > .buttons > .CheckBoxButton
{
    position: relative;
}

.ObservationList > .ObservationListMenuBar > .buttons > .Button > .icon,
.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .icon,
.ObservationList > .ObservationListMenuBar > .buttons > .CheckBoxButton > .icon,
.ObservationList > .ObservationListMenuBar > .buttons > .AsyncIconButton
{
    color: #f1f1f1;
}

/* Font Awesome icons.*/
.ObservationList > .ObservationListMenuBar > .buttons > .Button > .icon .fas,
.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .icon .fas,
.ObservationList > .ObservationListMenuBar > .buttons > .CheckBoxButton > .icon .fas
{
    transform: scale(1.1);
}

.ObservationList > .ObservationListMenuBar > .buttons > .Button > .tooltip,
.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .tooltip,
.ObservationList > .ObservationListMenuBar > .buttons > .CheckBoxButton > .tooltip
{
    white-space: nowrap;
    position: absolute;
    top: -39px;
    left: 50%;
    background-color: #e1dfdf;
    color: rgb(51, 51, 51);
    border-radius: 13px 13px 13px 0;
    font-size: 100%;
    font-family: "Nunito";
    line-height: 100%;
    padding: 9px;
    padding-left: 13px;
    padding-right: 13px;
    min-width: 45px;
}

.ObservationList > .ObservationListMenuBar > .buttons > .Button > .tooltip:before,
.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .tooltip:before,
.ObservationList > .ObservationListMenuBar > .buttons > .CheckBoxButton > .tooltip:before
{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    border-top: 7px solid #e1dfdf;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
}

.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .dropdown
{
    user-select: none;
    -moz-user-select: none;

    color: white;
    border-radius: 13px;
    width: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 15px 20px rgba(15, 7, 0, 0.2);

    position: absolute;
    top: 59px;
    right: calc(50% - 35px);
    z-index: 1000;
}

.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .dropdown:before
{
    content: "";
    position: absolute;
    bottom: 100%;
    right: 20px;
    width: 0;
    border-bottom: 15px solid #f1f1f1;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .dropdown.custom-menu
{
    border-radius: 13px;
    background-color: white;
    color: black;
    cursor: auto;
    text-align: center;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .dropdown.active
{
    animation-name: animation-slide-down-frames;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
}

.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .dropdown > .items > .title
{
    padding-top: 2px;
    padding-bottom: 2px;
    color: black;
    background-color: #f1f1f1;
    cursor: auto;
}

.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .dropdown > .items > div
{
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: white;
    cursor: pointer;
}

.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .dropdown > .items > .item:hover
{
    background-color: #3591e7;
    color: white;
}

.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .dropdown.inactive
{
    display: none;
}

.ObservationList > .ObservationListMenuBar > .buttons > .MenuButton > .dropdown.active
{
    display: block;
}

.ObservationList > .ObservationListMenuBar > .BirdSearch
{
    flex: 2;
    flex-shrink: 0;
}

.ObservationList > .ObservationListMenuBar > .BirdSearch > .BirdSearchBar
{
    text-align: left;
}

.ObservationList > .ObservationListMenuBar > .BirdSearch > .BirdSearchBar > .search-field
{
    width: 100%;
    height: 44px;
    outline: none;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    padding-left: 41px; /* Make room for the embedded search icon on the left.*/
    border: none;

    position: relative;
    z-index: 21;

    color: black;
    background-color: #e1dfdf;
}

.ObservationList > .ObservationListMenuBar > .BirdSearch > .BirdSearchBar > .search-field.active
{
    background-color: #f1f1f1;
    box-shadow: 0px 7px 2px -4px rgba(0, 0, 0, 0.1);
}

.ObservationList > .ObservationListMenuBar > .BirdSearch > .BirdSearchBar > .icon
{
    text-align: left;
    position: relative;
    top: -44px;
    left: 15px;
    z-index: 22;
    color: rgb(51, 51, 51);
    pointer-events: none;
}

.BirdSearchResultsDisplay
{
    position: absolute;
    top: 49px; /* Below the search input field.*/
    right: calc(12% + 128px); /* Level with the search input field.*/
    z-index: 10; /* Above the observation list.*/
    width: 390px;
}

.BirdSearchResultsDisplay.active
{
    animation-name: animation-slide-down-frames;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.15s;
}

.BirdSearchResult
{
    box-sizing: border-box;
    font-family: "Nunito", serif;
    font-size: 98%;
    width: 100%;
    color: black;
    background-color: #ffffff;
    padding: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    margin-top: 4px;
    box-shadow: 0 20px 15px 20px rgba(15, 7, 0, 0.2);

    position: relative;
    z-index: 20;
}

.BirdSearchResult > .AsyncIconButton
{
    color: white;
    position: absolute;
    bottom: -25px;
    right: 0px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    background-color: rgb(184, 30, 30);
    border-radius: 50%;
    border: 4px solid white;
    font-size: 125%;
}

.BirdSearchResult.not-previously-observed > .AsyncIconButton
{
    background-color: #3578d8;
}

.BirdSearchResult > .AsyncIconButton.waiting
{
    color: white;
    background-color: #c1c1c1;
}

.BirdSearchResult > .AsyncIconButton .fas
{
    transform: translateX(-1px) translateY(1px);
}

.BirdSearchResult.not-previously-observed > .AsyncIconButton .fas
{
    transform: none;
}

.BirdSearchResult .BirdThumbnail
{
    width: 110px;
    height: 110px;
    margin-left: 10px;
    margin-right: 28px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: -5px 0px 7px -2px rgba(0, 0, 0, 0.3);
}

.BirdSearchResult > .card
{
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 140%;
    height: 90px; /* Height of the bird thumbnail in .BirdSearchResult.*/
}

.BirdSearchResult > .card > *
{
    flex: 0;
}

.BirdSearchResult > .card > .bird-name
{
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 3px;
}

.BirdSearchResult > .card > .date-observed
{
    font-size: 95%;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

.BirdSearchResult > .card > .date-observed > .edit-date
{
    cursor: pointer; /* The element is clickable.*/
}

/* Show a pen icon next to the element.*/
.BirdSearchResult > .card > .date-observed > .edit-date:hover::after
{
    display: inline-block;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    content: "\f304";
    font-size: 85%;
    font-weight: 900;
    margin-left: 5px;
}

.BirdSearchResult > .card > .classification
{
    font-size: 90%;
    color: rgba(0, 0, 0, 0.6);
}

.ObservationList
{
    display: inline-block;
    width: 100%;
}

.ObservationList > .ObservationListFootnotes
{
    background-color: transparent;
    color: #e1dfdf;
    font-family: "Delius", sans-serif;
    position: absolute;
    top: 91px;
    left: 13%;
    text-align: left;
}

.ObservationList > .observation-cards
{
    position: relative;
    top: -45px;
    animation: reveal-up 0.8s ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.ObservationList > .observation-cards.sata-lajia > .ObservationCardGhost
{
    display: block;
}

.ObservationCard,
.ObservationCardGhost
{
    position: relative;
    color: black;
    background-color: transparent;
    align-items: center;
    border-radius: 3px;
    margin: 8px;
    z-index: 40;

    display: flex;
    flex-direction: column;
}

.ObservationCard .BirdThumbnail,
.ObservationCard .observation-info
{
    transform: none;
    transition: background-color 1.5s ease,
                border-color 1.5s ease,
                transform 1s ease,
                box-shadow 1s ease;
}

.ObservationCard.highlighted .BirdThumbnail
{
    transform: scale(1.03);
    box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.6);
}

.ObservationCard.highlighted .BirdThumbnail,
.ObservationCard.highlighted .observation-info
{
    border-color: palegoldenrod;
    background-color: palegoldenrod;
}

.ObservationCard > .BirdThumbnail,
.ObservationCardGhost > .BirdThumbnail
{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.6);
    z-index: 2;
    background-color: #f3f3f3;
}

.ObservationCardGhost > .BirdThumbnail
{
    background-color: #dbdbdb;
    border: 1px dashed rgb(143, 143, 143);
    padding: 15px;
    box-shadow: none;
}

.ObservationCard > .observation-info,
.ObservationCardGhost > .observation-info
{
    font-family: "Nunito", serif;
    font-size: 98%;
    border-radius: 3px;
    width: 196px;
    margin-top: -15px;
    padding-top: 24px;
    padding-bottom: 13px;
    background-color: #eaeaea;
    line-height: 115%;
    text-align: center;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    box-shadow: 0 2px 5px -4px rgba(0, 0, 0, 0.2);
}

.ObservationCardGhost > .observation-info
{
    width: 194px;
    margin-top: -15px;
    background-color: #dbdbdb;
    border: 1px dashed rgb(143, 143, 143);
    padding-top: 23px;
    padding-bottom: 12px;
    box-shadow: none;
}

.ObservationCard > .observation-info > .bird-name,
.ObservationCardGhost > .observation-info > .bird-name
{
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.ObservationCard > .observation-info > .date,
.ObservationCardGhost > .observation-info > .date
{
    font-size: 80%;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1px;
}

.Dialog
{
    font-family: sans-serif;
    min-width: 450px;
    padding-top: 0px;
    background-color: #f9f9f9;
    border-radius: 3px;
    display: inline-block;
    color: black;
    z-index: var(--zindex-dialog);
    box-shadow: 0 6px 30px -7px rgba(0, 0, 0, 0.95);

    /* Temp hack. Fixes the background border showing through the title's corners.*/
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    /* Center in the viewport.*/
    position: fixed;
    transform: translateX(-50%);
    top: 20px;
    left: 50%;
}

.Dialog.QueryNewObservationDate
{
    min-width: 400px;
}

.Dialog > .title
{
    user-select: none;
    text-align: left;
    padding: 20px 18px;
    color: white;
    border-radius: 0;
    background-color: #3591e7;
    border-top: 1px solid #63a9fb;
}

.Dialog > .title > .title-icon
{
    margin-right: 5px;
    font-size: 125%;
}

.Dialog > .button-bar
{
    position: absolute;
    bottom: -80px;
    line-height: 24px;
    right: 0;
    display: flex;
    width: 100%;
    filter: drop-shadow(0px 0px 14px black);
}

.Dialog > .button-bar > *
{
    font-weight: bold;

    user-select: none;
    -moz-user-select: none;

    margin: 5px;
    padding: 0px;
    font-size: 95%;
    color: #f2f2f2;
    cursor: pointer;
    flex: 1;

    transition: transform 0.025s ease-in-out;
}

.Dialog > .button-bar > .accept
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Dialog > .button-bar > .reject:active
{
    transform: translateY(2px);
}

.Dialog > .button-bar > *:hover
{
    color: white;
}

.Dialog > .button-bar > *.disabled
{
    color: rgb(168, 168, 168);
    cursor: auto;
    pointer-events: none;
}

.Dialog > .button-bar > *.waiting
{
    color: white;
}

.Dialog > .form
{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color: #f9f9f9;
    border-top: none;
    align-items: center;
}

.Dialog > .form > .fields
{
    flex: 1;
}

.Dialog > .form > .BirdThumbnail
{
    width: 100px;
    height: 100px;
    margin-right: 25px;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: -5px 0px 7px -2px rgb(0 0 0 / 30%);
}

.Dialog > .form > .fields input
{
    outline: none;
    border-radius: 4px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: white;
    transition: box-shadow 0.1s ease-in-out;
    border: 1px solid #e1e1e1;
    min-height: 47px;
}

.Dialog > .form > .fields input:focus
{
    border: 1px solid #3591e7;
}

.Dialog.QueryNewObservationDate > .form > .fields > .date-bar .value
{
    background-color: white;
    border: 1px solid lightgray;
    padding: 6px;
    border-radius: 6px;
    margin: 0 5px 0 5px;
    min-width: 35px;
}

.Dialog.QueryNewObservationDate > .form > .fields > .date-bar > .year .value
{
    min-width: 50px;
}

.Dialog.QueryNewObservationDate > .form > .fields > .date-bar > .month .value
{
    min-width: 95px;
}

.Dialog.QueryNewObservationDate > .form > .fields > .date-bar
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
}

.Dialog.QueryNewObservationDate > .form > .fields > .date-bar *
{
    min-width: 0;
}

.Dialog.QueryNewObservationDate > .form > .fields > .date-bar > .month
{
    flex: 1;
}

.Dialog.QueryNewObservationDate > .form > .fields .ScrollerLabel
{
    text-align: center;
}

.Dialog.QueryNewObservationDate > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
}

.Dialog.QueryAddNewObservation > .form > .fields > .date-bar
{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
}

.Dialog.QueryAddNewObservation > .form > .fields > .date-bar *
{
    flex: 1;
    min-width: 0;
}

.Dialog.QueryAddNewObservation > .form > .fields > .date-bar > .month
{
    flex: 2;
}

.Dialog.QueryAddNewObservation > .form > .fields .ScrollerLabel
{
    text-align: center;
}

.Dialog.QueryAddNewObservation > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
}

.Dialog.ConfirmObservationDeletion
{
    min-width: 450px;
}

.Dialog.QueryLoginCredentials > .form > .fields
{
    text-align: left;
}

.Dialog.QueryLoginCredentials
{
    min-width: 450px;
    max-width: 450px;
}

.Dialog.QueryLoginCredentials input
{
    margin: 10px 0;
}

.Dialog.ConfirmObservationDeletion > .form > .fields,
.Dialog.QueryLoginCredentials > .form > .fields
{
    display: flex;
    flex-direction: column;
}

.Dialog.ConfirmObservationDeletion > .form > .fields > .list-id
{
    flex: 1;
}

.Dialog.ConfirmObservationDeletion > .form > .fields > .bird-name
{
    color: black;
    text-align: left;
    margin-bottom: 12px;
}

.Dialog.QueryLoginCredentials > .form > .fields > .instruction
{
    font-size: 90%;
    color: gray;
    margin-top: 6px;
}

.Dialog.ConfirmObservationDeletion > .form > .fields > .instruction
{
    margin-left: auto;
    margin-right: 4px;
    margin-top: 9px;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.75);
}

.ScrollerLabel
{
    user-select: none;
    -moz-user-select: none;
}

.ScrollerLabel .Scroller
{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
}

.ScrollerLabel .Scroller:hover
{
    color: #3591e7;
}

.ScrollerLabel .Scroller:active
{
    color: #2c81cf;
}

/* Wavy bottom border. Courtesy of https://stackoverflow.com/a/33763912.*/
#lintulista > header.wave
{
    position: relative;
}
#lintulista > header.wave::before
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 11px;
    background-size: 20px 40px;
    background-image: radial-gradient(circle at 10px -15px, transparent 20px, #dbdbdb 21px);
}
#lintulista > header.wave::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 40px;
    background-image: radial-gradient(circle at 10px 25px, #dbdbdb 20px, transparent 21px);
}

.wave.glide::before,
.wave.glide::after
{
    animation: slide-right 3s linear infinite;
}

.wave.paused::before,
.wave.paused::after
{
    animation-play-state: paused !important;
}

@keyframes slide-right
{
    0%   {left: -40px;}
    100% {left: 0px;}
}

@keyframes swing
{
    0%   {transform: rotate(-2deg);}
    50%  {transform: rotate(2deg);}
    100% {transform: rotate(-2deg);}
}

@keyframes reveal-up
{
    0%   {opacity: 0; transform: translateY(0px) rotateY(15deg);}
    60%  {opacity: 0; transform: translateY(0px) rotateY(15deg);}
    100% {opacity: 1; transform: translateY(0px) rotateY(0deg);}
}

@keyframes reveal-flip
{
    0%   {transform: rotateX(90deg);}
    80%  {transform: rotateX(90deg);}
    100% {transform: rotateX(0deg);}
}

#popup-notifications-container
{
    cursor: initial;
    z-index: var(--zindex-popups);
    width: 290px;
    height: auto;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-family: sans-serif;
}

#popup-notifications-container .popup-notification
{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
    color: white;
    background-color: #77716c;
    border: 1px solid #404040;
    cursor: pointer;
    border-radius: 6px;
    transition: bottom 0.3s ease-out;
}

#popup-notifications-container > .popup-notification:not(:last-child)
{
    opacity: 0.75;
    border: none;
}

#popup-notifications-container > .popup-notification:hover
{
    opacity: 1;
}

#popup-notifications-container > .popup-notification.transitioning-in
{
    opacity: 0;
}

#popup-notifications-container .popup-notification.error
{
    background-color: #b92020;
    border-color: #7b0303;
}

#popup-notifications-container .icon-element
{
    margin-right: 15px;
    font-size: 150%;
}

#blue-screen
{
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999; /* Above everything else.*/
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #77716c;
    color: rgb(210, 210, 210);
    box-sizing: border-box;
    padding: 25px;
}

#blue-screen h1
{
    font-size: 200%;
    font-weight: bold;
}

#blue-screen .error-description
{
    font-size: 100%;
    font-style: italic;
    margin-top: 5px;
}
