@media only screen and (max-width: 1600px)
{
    #lintulista #app-title
    {
        left: 10%;
    }

    .ObservationList > .ObservationListFootnotes
    {
        left: 10%;
    }

    .ObservationList > .ObservationListMenuBar
    {
        right: 10%;
    }
}

@media only screen and (max-width: 1100px)
{
    #lintulista #app-title
    {
        left: 7%;
    }

    .ObservationList > .ObservationListFootnotes
    {
        left: 7%;
    }

    .ObservationList > .ObservationListMenuBar
    {
        right: 7%;
    }
}

@media only screen and (max-width: 900px)
{
    #lintulista.app-running > header
    {
        min-height: 230px;
    }

    #lintulista.app-running  #app-title
    {
        left: 3%;
        top: -4px;
    }

    .ObservationList > .ObservationListFootnotes
    {
        left: 3%;
        top: 75px;
    }

    .ObservationList > .ObservationListMenuBar
    {
        width: 83vw;
        left: 3%;
        top: 118px;
    }

    .ObservationList > .ObservationListMenuBar .buttons
    {
        flex-basis: 160px;
    }

    .ObservationList > .ObservationListMenuBar.sticky
    {
        right: 0;
        width: 93vw;
        left: 15px;
    }

    .BirdSearchResultsDisplay
    {
        left: 0;
        top: 49px;
    }

    #lintulista > header
    {
        border-radius: 0;
    }
}

@media only screen and (max-width: 500px)
{
    .Dialog.QueryNewObservationDate,
    .Dialog.ConfirmObservationDeletion
    {
        max-width: 93vw;
        min-width: 93vw;
    }

    .ObservationList > .ObservationListMenuBar .MenuButton.list-language
    {
        display: none;
    }

    .ObservationList > .ObservationListMenuBar.sticky
    {
        left: 10px;
    }

    .ObservationList > .ObservationListMenuBar .buttons
    {
        flex-basis: 125px;
    }

    .ObservationList > .ObservationListMenuBar .buttons
    {
        flex-basis: 130px;
        margin-left: 20px;
    }

    .BirdSearchResultsDisplay
    {
        left: 0;
        top: 49px;
        width: 95vw;
    }

    .CheckBoxButton .tooltip,
    .MenuButton .tooltip
    {
        display: none;
    }

    .ObservationList > .ObservationListMenuBar
    {
        width: 95vw;
    }
}

@media only screen and (max-width: 450px)
{
    .ObservationCard .BirdThumbnail
    {
        width: 190px;
        height: 190px;
    }

    .ObservationList > .ObservationListMenuBar .buttons
    {
        flex-basis: 120px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 410px)
{
    .ObservationList > .ObservationListFootnotes
    {
        left: 5%;
    }

    #lintulista.app-running  #app-title
    {
        left: 5%;
    }

    .BirdSearchResult .BirdThumbnail
    {
        margin-right: 15px;
    }

    .ObservationList > .ObservationListMenuBar.non-sticky
    {
        display: none;
    }

    #lintulista.app-running  > header
    {
        min-height: 160px;
    }

    .ObservationList > .ObservationListMenuBar.sticky
    {
        left: 10px;
    }

    .ObservationList > .ObservationListMenuBar .buttons
    {
        flex-basis: 120px;
        margin-left: 15px;
    }
}
